.nuevo-producto {
  padding: 120px 40px;
  max-width: 700px;
  margin: auto;
}

.form-producto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-producto input,
.form-producto textarea,
.form-producto select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}
.preview-img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin: 10px auto;
  display: block;
}
.form-producto button {
  padding: 14px;
  background: linear-gradient(135deg, #ff6f91, #ff3d8b);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}