.productos-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
  margin-top: 50px;
}

/* IZQUIERDA */
.productos-section {
  flex: 2;
}

/* DERECHA (CARRITO FIJO VISUAL) */
.cart-sidebar {
  flex: 1;
  position: sticky;
  top: 20px;
  height: fit-content;

  background: #fff;
  padding: 20px;
  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .productos-layout {
    flex-direction: column;
  }

  .cart-sidebar {
    position: relative;
    top: 0;
  }
}